/* CSS Reset and Basic Styling */
html, body, footer, h1, ul, p {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

/* Create a flex container for the entire page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container spans the full viewport height */
	background-color: black;
}

/* Add flexGrow to the main content area to push the footer to the bottom */
main {
    flex-grow: 1;
}

/* Basic styling for the header */
header {
	background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Reduce the margin for smaller screens */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
	font-style: italic;
}

/* Basic styling for the footer */
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

form {
	border: 2px solid red;
	padding: 20px;
}
.div1 {
	display: flex;
	height: 19vh;
	border: 2px solid orange;
	background-color: black;
	border-radius: 150px 100px 0px 0px;
	margin: 10px;
	color: whitesmoke;
	align-items: center;
	padding: 10px;
	justify-content: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.div2 {
	display: flex;
	height: 20vh;
	border: 2px solid orange;
	background-color: black;
	margin: 10px;
	color:wheat;
	justify-content: center;
	align-items: center;
}
.div3 {
	display: flex;
	height: 20vh;
	border: 2px solid orange;
	background-color: black;
	margin: 10px;
	color: wheat;
	justify-content: center;
	align-items: center;
}
.div4 {
	display: flex;
	height: 19vh;
	border: 2px solid orange;
	background-color: black;
	border-radius: 0px 0px 150px 100px;
	margin: 10px;
	color: wheat;
	justify-content: center;
	align-items: center;
}